* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, button, input {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

img {
    display: block;
}

.h-button {
    padding: 8px 16px;
    display: inline-block;
    border: none;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
}

.h-input {
    padding: 8px;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
}

.h-border-bottom {
    border-bottom: 1px solid #ddd;
}

.h-grayscale {
    filter: grayscale(50%);
}

.display-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.z-1 {
    z-index: 1;
}

.top-0 {
    top: 0;
}

.top-46 {
    top: 46px;
}

.bottom-0 {
    bottom: 0;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.table {
    display: table;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.hover-gray:hover {
    color: #000;
    background-color: #ccc;
}

.hover-red:hover {
    color: #fff;
    background-color: #f44336;
}

.hover-opac:hover {
    opacity: 0.6;
}

.rounded-4 {
    border-radius: 4px;
}

.rounded-half {
    border-radius: 50%;
}

.letter-spacing-4 {
    letter-spacing: 4px;
}

.no-underline {
    text-decoration: none;
}

.upper-case {
    text-transform: uppercase;
}

.opacity-60 {
    opacity: 0.6;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.font-12 {
    font-size: 12px;
}

.font-18 {
    font-size: 18px;
}

.font-22 {
    font-size: 22px;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}

.color-light-grey {
    color: #757575;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #000;
}

.bg-red {
    background-color: #f44336;
}

.line-height-46 {
    line-height: 46px;
}

.h-46 {
    height: 46px;
}

.h-full {
    height: 100%;
}

.w-full {
    width: 100%;
}

.w-1-2 {
    width: 50%;
}

.w-1-3 {
    width: 33.333333333333333333%;
}

.w-3-5 {
    width: 60%;
}

.w-8-25 {
    width: 32%;
}

.w-184 {
    width: 184px;
}

.w-800 {
    width: 800px;
}

.max-w-full {
    max-width: 100%;
}

.p-0-8 {
    padding: 0 8px;
}

.p-0-16 {
    padding: 0 16px;
}

.p-8-16 {
    padding: 8px 16px;
}

.p-12-24 {
    padding: 12px 24px;
}

.p-32-0 {
    padding: 32px 0;
}

.p-32-16 {
    padding: 32px 16px;
}

.p-64-16 {
    padding: 64px 16px;
}

.m-15-0 {
    margin: 15px 0;
}

.m-16-0 {
    margin: 16px 0;
}

.mx-auto {
    margin: 0 auto;
}

.m-bottom-8 {
    margin-bottom: 8px;
}

.m-bottom-16 {
    margin-bottom: 16px;
}

.m-left-16 {
    margin-left: 16px;
}

.m-right-16 {
    margin-right: 16px;
}

.hide-desktop {
    display: none;
}

@media (max-width: 600px) {
    .hide-mobile {
        display: none;
    }

    .inline-block-mobile {
        display: inline-block;
    }

    .flex-col-mobile {
        flex-direction: column;
    }

    .w-full-mobile {
        width: 100%;
    }
}
